modules/sdlf-pipeline/modules/stage-b/statemachines/this.json
{
  "Comment": "Simple pseudo flow",
  "StartAt": "Try",
  "States": {
    "Try": {
      "Type": "Parallel",
      "Branches": [
        {
          "StartAt": "Process Data",
          "States":{
            "Process Data": {
              "Type": "Task",
              "Resource": "${process_lambda_arn}",
              "Comment": "Process Data",
              "ResultPath": "$.body.job",
              "Next": "Wait"
            },
            "Wait": {
                "Type": "Wait",
                "Seconds": 15,
                "Next": "Get Job status"
            },
            "Get Job status": {
                "Type": "Task",
                "Resource": "${checkjob_lambda_arn}",
                "ResultPath": "$.body.job",
                "Next": "Did Job finish?"
            },
            "Did Job finish?": {
                "Type": "Choice",
                "Choices": [{
                    "Variable": "$.body.job.jobDetails.jobStatus",
                    "StringEquals": "SUCCEEDED",
                    "Next": "Run Glue Crawler"
                },{
                    "Variable": "$.body.job.jobDetails.jobStatus",
                    "StringEquals": "FAILED",
                    "Next": "Job Failed"
                }],
                "Default": "Wait"
            },
              "Job Failed": {
              "Type": "Fail",
              "Error": "Job Failed",
              "Cause": "Job failed, please check the logs"
            },
            "Run Glue Crawler": {
              "Type": "Task",
              "Resource": "${crawl_data_lambda_arn}",
              "Comment": "Run Glue Crawler",
              "ResultPath": "$.statusCode",
              "Next": "Post-update Comprehensive Catalogue"
            },
            "Post-update Comprehensive Catalogue": {
              "Type": "Task",
              "Resource": "${postupdate_lambda_arn}",
              "Comment": "Post-update Comprehensive Catalogue",
              "ResultPath": "$.statusCode",
              "Next": "Data Quality"
            },
            "Data Quality": {
              "Type":"Task",
              "Resource":"arn:aws:states:::states:startExecution",
              "Parameters":{
                  "StateMachineArn":"${data_quality_state_machine}",
                  "Input": {"body.$": "$.body"}
              },
              "Retry":[
                {
                    "ErrorEquals":[
                      "StepFunctions.ExecutionLimitExceeded"
                    ]
                }
              ],
              "Comment": "Data Quality",
              "End": true
            }
          }
        }
      ],
      "Catch": [
        {
          "ErrorEquals": [ "States.ALL" ],
          "ResultPath": null,
          "Next": "Error"
        }
      ],
      "Next": "Done"
    },
    "Done": {
      "Type": "Succeed"
    },
    "Error": {
      "Type": "Task",
      "Resource": "${error_lambda_arn}",
      "Comment": "Send Original Payload to DLQ",
      "Next": "Failed"
    },
    "Failed": {
      "Type": "Fail"
    }
  }
}
